<h2>Positions Report</h2>



{% for field in shop.metafields.acf_settings.customer.fields %}

  {% assign field_section = field.section %}
  {% assign field_value = customer.metafields[field.namespace][field.name] %}

  {% if field_section.id != current_section.id %}
  <h3>{{ field_section.label }}</h3>
  {% endif %}
  
  <p>{{ field.label }}: {{ field_value }}</p>

  {% assign current_section = field_section %}

  {% if field.label == 'Coffee' %}
    {% assign coffee = field_value %}

<div id="product-info"></div>

<script>
  const productName = coffee;
  const query = `
    {
      products(first: 1, query: "title:${productName}") {
        edges {
          node {
            title
            handle
            priceRange {
              maxVariantPrice {
                amount
                currencyCode
              }
            }
            # Add other desired product fields here
          }
        }
      }
    }
  `;

  fetch('/api/2023-11/graphql.json', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json',
      'X-Shopify-Storefront-Access-Token': 'your_storefront_access_token'
    },
    body: JSON.stringify({ query }),
  })
    .then(response => response.json())
    .then(data => {
      const product = data.data.products.edges[0].node;
      document.getElementById('product-info').innerHTML = `${product.title} - ${product.priceRange.maxVariantPrice.amount} ${product.priceRange.maxVariantPrice.currencyCode}`;
      // Add other product fields as needed
    })
    .catch(error => {
      console.error('Error:', error);
    });
</script>


  {% endif %}

{% endfor %}


{% for item in customer.metafields.accentuate.coffee %}
    {{ item }}
{% endfor %}



(location: 'snippets/account-positions-report.liquid')