<h2>Positions Report</h2>


  {{ customer.metaobject.test_object.test_object_type }}

{% for key in customer.metafields.custom %}
  {{ key }}: {{ customer.metafields.custom[key] }}
{% endfor %}




(location: 'snippets/account-positions-report.liquid')