
<!-- Positions Report for Common Goal customers - denisleblanc.com -->
{%- if settings.account_show_positions_report != blank -%}
  <h2>Positions Report</h2>
  
  <table>
    {% tablerow field in shop.metafields.acf_settings.customer.fields %}
      {{ field.label }}
    {% endtablerow %}
    {% for position in customer.metafields.position.coffee %}
      {% assign coffee = all_products[position].title %}    
      {% assign i = forloop.index0 %}
      <tr>
        {% for field in shop.metafields.acf_settings.customer.fields %}
          {% assign col_name = field.name %}
          {% assign col_value = customer.metafields.position[col_name] %}
          {% if col_name == 'coffee' %}
            <td>
              {% if coffee != blank %}
                {{ coffee }}
              {% else %}
                N/A
              {% endif %}
            </td>
          {% else %}
            <td>
              {% if col_value[i] != blank %}
                {{ col_value[i] }}
              {% else %}
                N/A
              {% endif %}
            </td>
          {% endif %}
        {% endfor %}
      </tr>
    {% endfor %}
  </table>
{%- endif -%}
