
<!-- Positions Report for Common Goal customers - denisleblanc.com -->
{%- if settings.account_show_positions_report != blank -%}
  <h2>Positions Report</h2>
  
  <table>
    {% tablerow field in shop.metafields.acf_settings.customer.fields %}
      {{ field.label }}
    {% endtablerow %}
    {% for position in customer.metafields.position.coffee %}    
      {% assign i = forloop.index0 %}
      <tr>
        {% for field in shop.metafields.acf_settings.customer.fields %}
          {% assign col_name = field.name %}
          {% assign col_value = customer.metafields.position[col_name] %}
            <td>
              {% if col_value[i] != blank %}
                {% if col_name == 'price' %}
                  ${{ col_value[i] }}/lb
                {% else %}
                  {{ col_value[i] }}
                {% endif %}
              {% else %}
                N/A
              {% endif %}
            </td>

        {% endfor %}
      </tr>
    {% endfor %}
  </table>
{%- endif -%}
