<h2>Positions Report</h2>

{% if customer.metafields.custom.positions_report %}

{% for item in customer.metafields.custom.positions_report %}
    {{ item.property_name }}
{% endfor %}


  
{% else %}
  No custom metafield value available.
{% endif %}




(location: 'snippets/account-positions-report.liquid')