<h2>Positions Report</h2>

{{ customer.metaobject.test_object.value }}

  {{ customer.metaobject.test_object.test_object_type }}
{% assign my_metaobject =  product.metafields.custom.test_object %} 
{{ my_metaobject.a_known_key.value }}




(location: 'snippets/account-positions-report.liquid')