<h2>Positions Report</h2>

{% if customer.metafields.custom.positions_report %}

{{ customer.metafields.custom.positions_report }}

{{ customer.id }}

  
{% else %}
  No custom metafield value available.
{% endif %}




(location: 'snippets/account-positions-report.liquid')